*{
  font-family: 'Roboto', sans-serif;
  color: #010518;
  box-sizing: border-box;
}

@media screen and (max-width: 700px){
#pcViewNavbar{
  display: none;
}
#showcp{
  display: flex;
}
#idForm{
  padding-top: 2px;
}
#searchcpView{
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
#searchcpView img {
  width: 40rem;
  aspect-ratio: 1/1;
}
}